.language-switch{
display:flex;
gap:10px;
align-items:center;
margin-left:20px;
}

.language-switch img{
width:24px;
cursor:pointer;
border-radius:3px;
transition:0.3s;
}

.language-switch img:hover{
transform:scale(1.1);
}